<!DOCTYPE html>
<html>
  <head>
    <title>ElvisTek Store</title>
    <link rel="stylesheet" type="text/css" href="/css/semantic.min.css"></link>
    <link rel="stylesheet" type="text/css" href="/css/dataTables.semanticui.min.css">

    <link rel="stylesheet" type="text/css" href="/css/app.css"></link>
  </head>
  <body>
    <div class="ui inverted vertical masthead center aligned segment">
      <div class="ui container">
        <div class="ui large secondary inverted pointing menu">
          <a class="item" href="http://www.applaudostudios.com" target="_blank"><strong>Applaudo</strong> Studios</a>
          <a class="item" href="/home">ElvisTek Store</a>
          <% if( user !== undefined ){ %>
            <% if(user.isAdmin === true) { %>
              <a class="item" href="/addProducts">Add Products</a>
              <a class="item" href="/users">Users</a>
            <%} %>
          <% } %>
          <div class="right item">
            <!--<a class="ui red button" href="/auth/facebook">Log Out</a>-->
            <%
            if(user !== undefined){
              %>
                Logged as &nbsp;<b><%= user.fullName %></b>&nbsp;
                <img src="<%= user.profilePic %>">&emsp;
                <a class="ui red button" href="/logout">Log Out</a>
              <%
            } else {
              %>
                <a class="ui blue button" href="/auth/facebook">Sign Up/Sign In with &nbsp;<strong>Facebook</strong></a>
              <%
            }
            %>
            
           
            
            
          </div>
        </div>
      </div>
    </div>

    
    