<% include ./partials/header.ejs %>
  <div class="main container">
		<br>
		<h1 style="text-align: center;">Products List</h1>
		<!--<table id="data-table-elvistek-store" class="ui celled table" cellspacing="0"  style="margin:auto;width:75%">-->
    <table id="data-table-elvistek-store" class="ui celled table display" cellspacing="0" style="margin:auto;width:80%">
			<thead>
				<tr>
					<th>Product Name</th>
          <th>Product Price</th>
          <th>Available Units</th>
					<th id="action_buttons">Action(s)</th>
          <th style="display: none"></th>
          <th style="display: none"></th>
          <th style="display: none"></th>
				</tr>
			</thead>
			<tbody>
				<tr>
          <td>
            First Product Name
          </td>
          <td>
            First Product Price
          </td>
          <td>
            4
          </td>
          <td>
            <button class="ui inverted blue button">Like</button>
          </td>

          <td>
            <a href="/edit/2345678">
              <button class="ui black button">Edit</button>
            </a>
          </td>

          <td>
            <a href="/buy/2345678">
              <button class="ui green button">Buy</button>
            </a>
          </td>

          <td>
            <div name="2345678" onclick="deleteModal(this)" class="ui red button">Delete</div>
          </td>

				</tr>
        <tr>
          <td>
            First Product Name
          </td>
          <td>
            First Product Price
          </td>
          <td>
            4
          </td>
          <td>
            <button class="ui inverted blue button">Like</button>
          </td>

          <td>
            <a href="/edit/2345678">
              <button class="ui black button">Edit</button>
            </a>
          </td>

          <td>
            <a href="/buy/2345678">
              <button class="ui green button">Buy</button>
            </a>
          </td>

          <td>
            <div name="2345678" onclick="deleteModal(this)" class="ui red button">Delete</div>
          </td>

				</tr>
        <tr>
          <td>
            First Product Name
          </td>
          <td>
            First Product Price
          </td>
          <td>
            4
          </td>
          <td>
            <button class="ui inverted blue button">Like</button>
          </td>

          <td>
            <a href="/edit/2345678">
              <button class="ui black button">Edit</button>
            </a>
          </td>

          <td>
            <a href="/buy/2345678">
              <button class="ui green button">Buy</button>
            </a>
          </td>

          <td>
            <div name="2345678" onclick="deleteModal(this)" class="ui red button">Delete</div>
          </td>

				</tr>
        <tr>
          <td>
            First Product Name
          </td>
          <td>
            First Product Price
          </td>
          <td>
            4
          </td>
          <td>
            <button class="ui inverted blue button">Like</button>
          </td>

          <td>
            <a href="/edit/2345678">
              <button class="ui black button">Edit</button>
            </a>
          </td>

          <td>
            <a href="/buy/2345678">
              <button class="ui green button">Buy</button>
            </a>
          </td>

          <td>
            <div name="2345678" onclick="deleteModal(this)" class="ui red button">Delete</div>
          </td>

				</tr>
        <tr>
          <td>
            First Product Name
          </td>
          <td>
            First Product Price
          </td>
          <td>
            4
          </td>
          <td>
            <button class="ui inverted blue button">Like</button>
          </td>

          <td>
            <a href="/edit/2345678">
              <button class="ui black button">Edit</button>
            </a>
          </td>

          <td>
            <a href="/buy/2345678">
              <button class="ui green button">Buy</button>
            </a>
          </td>

          <td>
            <div name="2345678" onclick="deleteModal(this)" class="ui red button">Delete</div>
          </td>

				</tr>
        <tr>
          <td>
            First Product Name
          </td>
          <td>
            First Product Price
          </td>
          <td>
            4
          </td>
          <td>
            <button class="ui inverted blue button">Like</button>
          </td>

          <td>
            <a href="/edit/2345678">
              <button class="ui black button">Edit</button>
            </a>
          </td>

          <td>
            <a href="/buy/2345678">
              <button class="ui green button">Buy</button>
            </a>
          </td>

          <td>
            <div name="2345678" onclick="deleteModal(this)" class="ui red button">Delete</div>
          </td>

				</tr>
        <tr>
          <td>
            First Product Name
          </td>
          <td>
            First Product Price
          </td>
          <td>
            4
          </td>
          <td>
            <button class="ui inverted blue button">Like</button>
          </td>

          <td>
            <a href="/edit/2345678">
              <button class="ui black button">Edit</button>
            </a>
          </td>

          <td>
            <a href="/buy/2345678">
              <button class="ui green button">Buy</button>
            </a>
          </td>

          <td>
            <div name="2345678" onclick="deleteModal(this)" class="ui red button">Delete</div>
          </td>

				</tr>
        <tr>
          <td>
            First Product Name
          </td>
          <td>
            First Product Price
          </td>
          <td>
            4
          </td>
          <td>
            <button class="ui inverted blue button">Like</button>
          </td>

          <td>
            <a href="/edit/2345678">
              <button class="ui black button">Edit</button>
            </a>
          </td>

          <td>
            <a href="/buy/2345678">
              <button class="ui green button">Buy</button>
            </a>
          </td>

          <td>
            <div name="2345678" onclick="deleteModal(this)" class="ui red button">Delete</div>
          </td>

				</tr>
        <tr>
          <td>
            First Product Name
          </td>
          <td>
            First Product Price
          </td>
          <td>
            4
          </td>
          <td>
            <button class="ui inverted blue button">Like</button>
          </td>

          <td>
            <a href="/edit/2345678">
              <button class="ui black button">Edit</button>
            </a>
          </td>

          <td>
            <a href="/buy/2345678">
              <button class="ui green button">Buy</button>
            </a>
          </td>

          <td>
            <div name="2345678" onclick="deleteModal(this)" class="ui red button">Delete</div>
          </td>

				</tr>
        <tr>
          <td>
            First Product Name
          </td>
          <td>
            First Product Price
          </td>
          <td>
            4
          </td>
          <td>
            <button class="ui inverted blue button">Like</button>
          </td>

          <td>
            <a href="/edit/2345678">
              <button class="ui black button">Edit</button>
            </a>
          </td>

          <td>
            <a href="/buy/2345678">
              <button class="ui green button">Buy</button>
            </a>
          </td>

          <td>
            <div name="2345678" onclick="deleteModal(this)" class="ui red button">Delete</div>
          </td>

				</tr>
        <tr>
          <td>
            First Product Name
          </td>
          <td>
            First Product Price
          </td>
          <td>
            4
          </td>
          <td>
            <button class="ui inverted blue button">Like</button>
          </td>

          <td>
            <a href="/edit/2345678">
              <button class="ui black button">Edit</button>
            </a>
          </td>

          <td>
            <a href="/buy/2345678">
              <button class="ui green button">Buy</button>
            </a>
          </td>

          <td>
            <div name="2345678" onclick="deleteModal(this)" class="ui red button">Delete</div>
          </td>

				</tr>
        <tr>
          <td>
            First Product Name
          </td>
          <td>
            First Product Price
          </td>
          <td>
            4
          </td>
          <td>
            <button class="ui inverted blue button">Like</button>
          </td>

          <td>
            <a href="/edit/2345678">
              <button class="ui black button">Edit</button>
            </a>
          </td>

          <td>
            <a href="/buy/2345678">
              <button class="ui green button">Buy</button>
            </a>
          </td>

          <td>
            <div name="2345678" onclick="deleteModal(this)" class="ui red button">Delete</div>
          </td>

				</tr>
        <tr>
          <td>
            First Product Name
          </td>
          <td>
            First Product Price
          </td>
          <td>
            4
          </td>
          <td>
            <button class="ui inverted blue button">Like</button>
          </td>

          <td>
            <a href="/edit/2345678">
              <button class="ui black button">Edit</button>
            </a>
          </td>

          <td>
            <a href="/buy/2345678">
              <button class="ui green button">Buy</button>
            </a>
          </td>

          <td>
            <div name="2345678" onclick="deleteModal(this)" class="ui red button">Delete</div>
          </td>

				</tr>
        <tr>
          <td>
            First Product Name
          </td>
          <td>
            First Product Price
          </td>
          <td>
            4
          </td>
          <td>
            <button class="ui inverted blue button">Like</button>
          </td>

          <td>
            <a href="/edit/2345678">
              <button class="ui black button">Edit</button>
            </a>
          </td>

          <td>
            <a href="/buy/2345678">
              <button class="ui green button">Buy</button>
            </a>
          </td>

          <td>
            <div name="2345678" onclick="deleteModal(this)" class="ui red button">Delete</div>
          </td>

				</tr>
        <tr>
          <td>
            First Product Name
          </td>
          <td>
            First Product Price
          </td>
          <td>
            4
          </td>
          <td>
            <button class="ui inverted blue button">Like</button>
          </td>

          <td>
            <a href="/edit/2345678">
              <button class="ui black button">Edit</button>
            </a>
          </td>

          <td>
            <a href="/buy/2345678">
              <button class="ui green button">Buy</button>
            </a>
          </td>

          <td>
            <div name="2345678" onclick="deleteModal(this)" class="ui red button">Delete</div>
          </td>

				</tr>
        <tr>
          <td>
            First Product Name
          </td>
          <td>
            First Product Price
          </td>
          <td>
            4
          </td>
          <td>
            <button class="ui inverted blue button">Like</button>
          </td>

          <td>
            <a href="/edit/2345678">
              <button class="ui black button">Edit</button>
            </a>
          </td>

          <td>
            <a href="/buy/2345678">
              <button class="ui green button">Buy</button>
            </a>
          </td>

          <td>
            <div name="2345678" onclick="deleteModal(this)" class="ui red button">Delete</div>
          </td>

				</tr>
        <tr>
          <td>
            First Product Name
          </td>
          <td>
            First Product Price
          </td>
          <td>
            4
          </td>
          <td>
            <button class="ui inverted blue button">Like</button>
          </td>

          <td>
            <a href="/edit/2345678">
              <button class="ui black button">Edit</button>
            </a>
          </td>

          <td>
            <a href="/buy/2345678">
              <button class="ui green button">Buy</button>
            </a>
          </td>

          <td>
            <div name="2345678" onclick="deleteModal(this)" class="ui red button">Delete</div>
          </td>

				</tr>
        <tr>
          <td>
            First Product Name
          </td>
          <td>
            First Product Price
          </td>
          <td>
            4
          </td>
          <td>
            <button class="ui inverted blue button">Like</button>
          </td>

          <td>
            <a href="/edit/2345678">
              <button class="ui black button">Edit</button>
            </a>
          </td>

          <td>
            <a href="/buy/2345678">
              <button class="ui green button">Buy</button>
            </a>
          </td>

          <td>
            <div name="2345678" onclick="deleteModal(this)" class="ui red button">Delete</div>
          </td>

				</tr>
        <tr>
          <td>
            First Product Name
          </td>
          <td>
            First Product Price
          </td>
          <td>
            4
          </td>
          <td>
            <button class="ui inverted blue button">Like</button>
          </td>

          <td>
            <a href="/edit/2345678">
              <button class="ui black button">Edit</button>
            </a>
          </td>

          <td>
            <a href="/buy/2345678">
              <button class="ui green button">Buy</button>
            </a>
          </td>

          <td>
            <div name="2345678" onclick="deleteModal(this)" class="ui red button">Delete</div>
          </td>

				</tr>
        <tr>
          <td>
            First Product Name
          </td>
          <td>
            First Product Price
          </td>
          <td>
            4
          </td>
          <td>
            <button class="ui inverted blue button">Like</button>
          </td>

          <td>
            <a href="/edit/2345678">
              <button class="ui black button">Edit</button>
            </a>
          </td>

          <td>
            <a href="/buy/2345678">
              <button class="ui green button">Buy</button>
            </a>
          </td>

          <td>
            <div name="2345678" onclick="deleteModal(this)" class="ui red button">Delete</div>
          </td>

				</tr>
        <tr>
          <td>
            First Product Name
          </td>
          <td>
            First Product Price
          </td>
          <td>
            4
          </td>
          <td>
            <button class="ui inverted blue button">Like</button>
          </td>

          <td>
            <a href="/edit/2345678">
              <button class="ui black button">Edit</button>
            </a>
          </td>

          <td>
            <a href="/buy/2345678">
              <button class="ui green button">Buy</button>
            </a>
          </td>

          <td>
            <div name="2345678" onclick="deleteModal(this)" class="ui red button">Delete</div>
          </td>

				</tr>
        <tr>
          <td>
            First Product Name
          </td>
          <td>
            First Product Price
          </td>
          <td>
            4
          </td>
          <td>
            <button class="ui inverted blue button">Like</button>
          </td>

          <td>
            <a href="/edit/2345678">
              <button class="ui black button">Edit</button>
            </a>
          </td>

          <td>
            <a href="/buy/2345678">
              <button class="ui green button">Buy</button>
            </a>
          </td>

          <td>
            <div name="2345678" onclick="deleteModal(this)" class="ui red button">Delete</div>
          </td>

				</tr>
        <tr>
          <td>
            First Product Name
          </td>
          <td>
            First Product Price
          </td>
          <td>
            4
          </td>
          <td>
            <button class="ui inverted blue button">Like</button>
          </td>

          <td>
            <a href="/edit/2345678">
              <button class="ui black button">Edit</button>
            </a>
          </td>

          <td>
            <a href="/buy/2345678">
              <button class="ui green button">Buy</button>
            </a>
          </td>

          <td>
            <div name="2345678" onclick="deleteModal(this)" class="ui red button">Delete</div>
          </td>

				</tr>
        <tr>
          <td>
            First Product Name
          </td>
          <td>
            First Product Price
          </td>
          <td>
            4
          </td>
          <td>
            <button class="ui inverted blue button">Like</button>
          </td>

          <td>
            <a href="/edit/2345678">
              <button class="ui black button">Edit</button>
            </a>
          </td>

          <td>
            <a href="/buy/2345678">
              <button class="ui green button">Buy</button>
            </a>
          </td>

          <td>
            <div name="2345678" onclick="deleteModal(this)" class="ui red button">Delete</div>
          </td>

				</tr>
        <tr>
          <td>
            First Product Name
          </td>
          <td>
            First Product Price
          </td>
          <td>
            4
          </td>
          <td>
            <button class="ui inverted blue button">Like</button>
          </td>

          <td>
            <a href="/edit/2345678">
              <button class="ui black button">Edit</button>
            </a>
          </td>

          <td>
            <a href="/buy/2345678">
              <button class="ui green button">Buy</button>
            </a>
          </td>

          <td>
            <div name="2345678" onclick="deleteModal(this)" class="ui red button">Delete</div>
          </td>

				</tr>
        <tr>
          <td>
            First Product Name
          </td>
          <td>
            First Product Price
          </td>
          <td>
            4
          </td>
          <td>
            <button class="ui inverted blue button">Like</button>
          </td>

          <td>
            <a href="/edit/2345678">
              <button class="ui black button">Edit</button>
            </a>
          </td>

          <td>
            <a href="/buy/2345678">
              <button class="ui green button">Buy</button>
            </a>
          </td>

          <td>
            <div name="2345678" onclick="deleteModal(this)" class="ui red button">Delete</div>
          </td>

				</tr>
        <tr>
          <td>
            First Product Name
          </td>
          <td>
            First Product Price
          </td>
          <td>
            4
          </td>
          <td>
            <button class="ui inverted blue button">Like</button>
          </td>

          <td>
            <a href="/edit/2345678">
              <button class="ui black button">Edit</button>
            </a>
          </td>

          <td>
            <a href="/buy/2345678">
              <button class="ui green button">Buy</button>
            </a>
          </td>

          <td>
            <div name="2345678" onclick="deleteModal(this)" class="ui red button">Delete</div>
          </td>

				</tr>
        <tr>
          <td>
            First Product Name
          </td>
          <td>
            First Product Price
          </td>
          <td>
            4
          </td>
          <td>
            <button class="ui inverted blue button">Like</button>
          </td>

          <td>
            <a href="/edit/2345678">
              <button class="ui black button">Edit</button>
            </a>
          </td>

          <td>
            <a href="/buy/2345678">
              <button class="ui green button">Buy</button>
            </a>
          </td>

          <td>
            <div name="2345678" onclick="deleteModal(this)" class="ui red button">Delete</div>
          </td>

				</tr>
        <tr>
          <td>
            First Product Name
          </td>
          <td>
            First Product Price
          </td>
          <td>
            4
          </td>
          <td>
            <button class="ui inverted blue button">Like</button>
          </td>

          <td>
            <a href="/edit/2345678">
              <button class="ui black button">Edit</button>
            </a>
          </td>

          <td>
            <a href="/buy/2345678">
              <button class="ui green button">Buy</button>
            </a>
          </td>

          <td>
            <div name="2345678" onclick="deleteModal(this)" class="ui red button">Delete</div>
          </td>

				</tr>
        <tr>
          <td>
            First Product Name
          </td>
          <td>
            First Product Price
          </td>
          <td>
            4
          </td>
          <td>
            <button class="ui inverted blue button">Like</button>
          </td>

          <td>
            <a href="/edit/2345678">
              <button class="ui black button">Edit</button>
            </a>
          </td>

          <td>
            <a href="/buy/2345678">
              <button class="ui green button">Buy</button>
            </a>
          </td>

          <td>
            <div name="2345678" onclick="deleteModal(this)" class="ui red button">Delete</div>
          </td>

				</tr>
        <tr>
          <td>
            First Product Name
          </td>
          <td>
            First Product Price
          </td>
          <td>
            4
          </td>
          <td>
            <button class="ui inverted blue button">Like</button>
          </td>

          <td>
            <a href="/edit/2345678">
              <button class="ui black button">Edit</button>
            </a>
          </td>

          <td>
            <a href="/buy/2345678">
              <button class="ui green button">Buy</button>
            </a>
          </td>

          <td>
            <div name="2345678" onclick="deleteModal(this)" class="ui red button">Delete</div>
          </td>

				</tr>
        <tr>
          <td>
            First Product Name
          </td>
          <td>
            First Product Price
          </td>
          <td>
            4
          </td>
          <td>
            <button class="ui inverted blue button">Like</button>
          </td>

          <td>
            <a href="/edit/2345678">
              <button class="ui black button">Edit</button>
            </a>
          </td>

          <td>
            <a href="/buy/2345678">
              <button class="ui green button">Buy</button>
            </a>
          </td>

          <td>
            <div name="2345678" onclick="deleteModal(this)" class="ui red button">Delete</div>
          </td>

				</tr>

			</tbody>

		</table>
	</div>
<% include ./partials/footer.ejs %>